@import "tailwindcss";

@theme {
    --color-primary: #24A1DD;
    --color-primary-hover: #1D4ED8;
    --color-primary-text: #303030;
    --color-border-black: #E0E0E0;
    --color-border-gray: #BBBBBB;
    --color-bg-light: #9AD4EF;
    --color-bg-gray: #F7F7F7;
    --color-bg-main: #ffffff;
    --color-text-main: #303030;
    --color-bg-dark-header: #222222;
    --color-bg-dark-main: #141414;

    --font-creato: "Creato Display", sans-serif;
}

* {
    font-family: "Creato Display", sans-serif !important;
}

.custom-font-jura {
    font-family: "Jura", sans-serif !important;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}

@layer utilities {
    .font-creato {
        font-family: "Creato Display", sans-serif !important;
    }

    /* rest is fine */
    .text-base-custom {
        color: #1A1A1A;
    }

    .checkbox-primary {
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        border: 1px solid #24A1DD;
        cursor: pointer;
    }

    .checkbox-primary:checked {
        background-color: #24A1DD;
        border-color: #24A1DD;

        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M6.2 11.3 3.3 8.4l1.4-1.4 1.6 1.6 4-4 1.4 1.4z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
    }



    .text-base-lightest-custom {
        color: #9BA1B0;
    }

    .text-Colors-Text-Primary-primary {
        color: #24A1DD !important;
    }

    .text-Colors-Text-Action-action-disabled {
        color: #9CA3AF;
    }

    .text-Colors-Text-Static-white {
        color: #FFFFFF !important;
    }

    .text-Colors-Text-Base-base {
        color: #303030 !important;
    }

    .bg-Colors-Surface-Action-action {
        background-color: #24A1DD;
    }

    .bg-Colors-Surface-Action-action-disabled {
        background-color: #E0E0E0;
    }

    .bg-neutral-subtle {
        background-color: #F5F6F8;
    }

    .border-base-custom {
        border-color: #D1D5DB;
    }

    .outline-Colors-Border-Action-action {
        outline-color: #24A1DD;
    }

    .outline-Colors-Icon-Action-action-disabled {
        outline-color: #9CA3AF;
    }

    .outline-Colors-Icon-Static-white {
        outline-color: #FFFFFF;
    }

    .outer-Border {
        border-color: #E0E0E0;
    }

    .tab-Border {
        border-color: #BBBBBB;
    }
}

/* AG Grid Styling */
.ag-theme-alpine .ag-header {
    background-color: #0369a1 !important;
}


.ag-theme-alpine .ag-header-cell {
    font-size: 14px !important;
    font-weight: 500;
    background-color: #0369a1 !important;
    color: white !important;
}

.ag-theme-alpine .ag-header-cell-text {
    color: white !important;
}

.ag-theme-alpine .ag-cell {
    font-size: 13px !important;
}

.ant-modal {
    margin: 0;
    padding: 0;
}

.ant-modal-content {
    padding: 0 !important;
}

.ant-modal-body {
    padding: 0 !important;
}

/* progress bar loader */

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.4;
        transform: scale(0.75);
    }
}

/* Split gutter (resizer) */
.gutter {
    background-color: #E0E0E0;
    position: relative;
    z-index: 10;
}

.gutter:hover {
    background-color: #22B4E6;
}

/* Horizontal split (vertical divider) */
.gutter.gutter-horizontal {
    cursor: col-resize;
    width: 6px;
}

/* Global typography for Ant Design inputs */
.ant-input,
.ant-input-password,
.ant-select-selector,
.ant-select-item,
.ant-select-selection-item,
.ant-select-selection-placeholder {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Creato Display', sans-serif;
    line-height: 16px;
    /* optional */
}